on:
  push:
    branches: 
     - master 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout code'
        run: pwd
        
      - uses: actions/checkout@v3
      
      - name: 'test 3'
        run: ls
       
