on:
  push:
    branches: 
     - master 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: 'test 4'
        run: echo "dckr_pat_qSJkzaqW3yM9M-Y5I6rv5iK7wHM" | docker login -u "michaelsabry" --password-stdin


       
