on:
  push:
    branches: 
     - master 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout code'
        run: pwd

      - name: 'test pri'
        run: echo michaelsabry-2023040187
       
